$white: #FFFFFF;
$orange: #eeb501;
$black: #000;
$activ-botton-opacity: rgba(0, 112, 237, 0.6);
$grey: #4f4f4f;
$grey-light: #dedddd;
$grey-milk: #c2cad6;
$activ-botton: #0070ed;
$blue: #223569;
$blue-light: #95a3b8;
$blue-clear: #c7d7ea;
$blue-dark: #0049d7;
$beg: #f0f1f3;
$blue-air: #bac3cd;
$border-opacity: rgba(236, 238, 240, 0);
$background-opacity: rgba(236, 238, 240, 0);
$blue-fon: #151c26;
$grey-dark: #374152;
$grey-clear: #b2b9c5;
$grey-in: #727272;
$blue-mail: #0070ed;