$extrabold: 800;
$bold: 700;
$medium-plus: 600;
$medium: 500;
$regular: 400;
$light: 300;

@font-face {
  font-family: 'FjallaOneRegular';
  src: url("../fonts/FjallaOne-Regular.ttf");
  font-style: normal;
  font-weight: $regular;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: $regular;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.ttf");
  font-style: normal;
  font-weight: $medium;
}