.sixth{
  background-color: $blue-fon;
  font-size: 25px;
  &__icon{
    &-link{
      padding-right: 5px;
      padding-left: 5px;
      color: $white;
    }
    &-row{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
  &__text{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    &-link{
      font:{
        family: 'GothamProMedium';
        size: 14px;
      }
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      @media (max-width: 768px){
        padding-left: 0;
        padding-right: 0;
      }
      @media (max-width: 768px){
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: 414px){
        padding-left: 10px;
        padding-right: 10px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    &-row{
      justify-content: center;
    }
  }
  &__copy{
    padding-bottom: 70px;
    &-text{
      font:{
        family: 'FjallaOneRegular';
        size: 14px;
      }
      color: $grey-dark;
    }
    &-line{
      margin: 0 auto;
      width: 60px;
      height: 2px;
      background-color: $grey-dark;

    }
  }
}
.fab{
  vertical-align: center;
}
.circle{
  display: table-cell;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: $grey-dark;
}