/* ------------ section-1 --------------- */
.section-1 {
   background-image: url("../img/fon-section-1.png");
   background-size: cover;
}
.rooted {
  transform: rotate(90deg);
  transform-origin: right top;
  position: fixed;
  right: 0;
  z-index: 5;
  top: 65%;
  @media (min-width: 722px) and (max-width: 767px){
    top: 35%;
  }
  @media (min-width: 516px) and (max-width: 576px){
    top: 26%;
  }
  @media (min-width: 452px) and (max-width: 515px){
    top: 31%;
  }
  @media (min-width: 351px) and (max-width: 451px){
    top: 35%;
  }
  @media (min-width: 320px) and (max-width: 350px){
    top: 38%;
  }  
  .general-page__buttons-vertical {
    @extend %for-buttons-vertical;
    transform: rotate(180deg);
    &_icon-forma {
      transform: rotate(90deg);
      margin-left: 20px;
    }
  }
  @media (max-width: 510px) {
    display: none;
  }  
}

.general-page {
  margin: 0 auto;
}

.general-page__text {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 205px;
  padding-bottom: 10px;
  @media (min-width: 429px) and (max-width: 575px){
    padding-left: 90px;
    padding-right: 90px;
  }
  @media (min-width: 336px) and (max-width: 428px){
    padding-left: 70px;
    padding-right: 70px;
  }
  &_main {
    @extend %for-p;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 65px;
    font-weight: $medium-plus;
  }
  &_topic {
    @extend %for-h1;
    font-weight: $light;
    padding-bottom: 27px;
     @media (min-width: 428px) and (max-width: 628px){
      padding-left: 65px;
      padding-right: 65px;
    }
    @media (min-width: 516px) and (max-width: 534px){
      padding-left: 55px;
      padding-right: 55px;
    }
    @media (min-width: 393px) and (max-width: 427px){
      padding-left: 65px;
      padding-right: 65px;
    }
    @media (min-width: 348px) and (max-width: 392px){
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.general-page__text_btns {
  padding-bottom: 57px;
  display: flex;
  justify-content: center;
  @media (max-width: 476px){
    flex-direction: column;
  }
  @media (min-width: 401px) and (max-width: 476px){
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: 381px) and (max-width: 400px){
    padding-left: 53px;
    padding-right: 53px;
  }
  @media (min-width: 348px) and (max-width: 380px){
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (min-width: 320px) and (max-width: 347px){
    padding-left: 23px;
    padding-right: 23px;
  }    
  &_vip {
    @extend %for-buttons;
    background-color: $white;
    margin-left: 16px;
    margin-right: 16px;
    padding: 12px 53px;
    @extend %for-a;
    &:hover {
    color: $white;
    background-color: $activ-botton;
    text-decoration: none;
    }
  }
  .leftb {
       padding: 12px 36px;
  }
}

/* --------- scroll mouse start -------- */
#mice {
  margin: 0 auto;
  padding-bottom: 7em;
   padding-top: 5.5em;
   text-align: center;
   width: 20px;
    height: 9px; 
  }

#mice span {
  display: block;
  width: 9px;
  height: 9px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
  margin: 5px 0 3px 6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid $black;
    top: 170px;
}
.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    background: $black;
    position: relative;
}
/* --------- scroll mouse finish -------- */

/* ------ media query ------ */
@include desktop {
  .general-page__text_btns {
    &_buttons-left {
      width: 19%;
    }
    &_buttons-right {
      width: 19%;
    }
  }
}

@include laptop {
  .general-page__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 95px;
    &_main {
      padding-left: 22px;
      padding-right: 22px;
      }
    &_topic {
      font-size: 65px;
      line-height: 70px;
      text-shadow: 1px 1px 2px $black, 0 0 1em $grey-clear;
    }
  }

  .general-page {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 40px;
  }
  .general-page__text_btns {
    padding-bottom: 30px;
      &_buttons-left {
      width: 25%;
    }
    &_buttons-right {
      width: 25%;
    }
  }
  #mice {
    padding-bottom: 7em;
  }
  .rooted {
    top: 50%;
  }
}

@include tablet {
  .general-page__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    &_main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    }
    &_topic {
      font-size: 40px;
      line-height: 55px;
      text-shadow: 1px 1px 2px $black, 0 0 1em $grey-clear;
    }
  }

  .general-page {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 95px;
  }
  .general-page__text_btns {
    padding-bottom: 0;
    &_buttons-left {
      width: 25%;
    }
    &_buttons-right {
      width: 25%;
    }
  }
  #mice {
    padding-bottom: 4em;
    padding-top: 2.5em;
  }
  .rooted {
    top: 40%;
  }
}

@include phone {
  .general-page__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    &_main {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
    }
    &_topic {
      padding-left: 0;
      padding-right: 0;
      font-size: 29px;
      line-height: 45px;
      text-shadow: 1px 1px 2px $black, 0 0 1em $grey-clear;
    }
  }

  .general-page {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
  }

  .general-page__text_btns {
    padding-bottom: 0;
    &_buttons-left {
      width: 32%;
    }
    &_buttons-right {
      width: 32%;
    }
  }
  #mice {
  padding-bottom: 4em;
  padding-top: 1.5em;
  }
  .rooted {
    top: 39%;
  }
}



@include iphone {
  .general-page__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    &_main {
      font-size: 12px;
      line-height: 20px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 15px;
    }
    &_topic {
      font-size: 22px;
      line-height: 31px;
      text-shadow: 1px 1px 2px $black, 0 0 1em $grey-clear;
    }
  }

  .general-page {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
  }

  .general-page__text_btns {
    padding-bottom: 0;
    &_vip {
      margin-bottom: 10px;
    }
    &_buttons-left {
      width: 32%;
    }
    &_buttons-right {
      width: 32%;
    }
  }
  #mice {
  padding-bottom: 4em;
  padding-top: 1.5em;
  }
}

@include mobile {
  .general-page__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    &_main {
      font-size: 12px;
      line-height: 20px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 15px;
    }
    &_topic {
      font-size: 18px;
      line-height: 25px;
      padding-top: 80px;
      padding-left: 25px;
      padding-right: 25px;
      text-shadow: 1px 1px 2px $black, 0 0 1em $grey-clear;
    }
  }

  .general-page {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
  }

  .general-page__text_btns {
    width: 68%;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    &_vip {
      padding: 12px 0px;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: 0;      
    }
    &_buttons-left {
      width: 32%;
    }
    &_buttons-right {
      width: 32%;
    }
  }
  #mice {
  padding-bottom: 4em;
  padding-top: 1.5em;
  }
}

