/* ------------ section-5 --------------- */
.section-5 {
  background-image: url("../img/fon-section-5.png");
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 80px;
}

.manager {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: $white;
  padding-top: 80px;
  padding-bottom: 65px;
  border-radius: 5px;

  &__fotos-door {
    padding-bottom: 55px;
    &_man {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
  &__text-solutions {
    @extend %for-p;
    font: {
      family: 'PlayfairDisplay-Regular';
      size: 26px;
      weight: $medium;
    }
    line-height: 42px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    &_bolds {
      font-weight: $bold;
    }
  }
  &__name-marcos {
    @extend %for-p;
    font: {
      family: 'GothamProMedium';
      size: 15px;
      weight: $medium;
    }
  }
  &__profaition {
    @extend %for-p;
    font: {
      family: 'GothamProMedium';
      size: 16px;
      weight: $medium;
    }
    color: $blue-clear;
  }
}

.carousels {
  display: flex;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 87px;
  &__as {
    cursor: pointer;
    height: 16px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: $blue-dark;
    &_he {
      cursor: pointer;
      padding-right: 8px;
      padding-left: 8px;
      height: 16px;
      border-radius: 8px;
      margin-left: 4px;
      margin-right: 4px;
      background-color: $white;
    }
  }
}