/* ------------ section-6 --------------- */
.section-6 {
  padding-top: 145px;
  margin-bottom: 145px;
}
.salute__team {
  width: 100%;
  display: flex;
  flex-direction: column;  
  padding-left: 0;
  padding-right: 30px;
  @media (max-width: 1070px) {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
  }
  &_topic-about {
    @extend %for-topic;
    padding-bottom: 30px;    
  }
  &_info-text-about {
    @extend %for-info-text;
    padding-left: 0;
    @media (min-width: 1071px) {
      padding-right: 450px;
    }        
  }
}

.foto-team {
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 0;
  justify-content: start;  
  @media (min-width: 700px) and (max-width: 1070px) {
    justify-content: space-around;
  }
  @media (max-width: 699.68px) {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }   
  &__links {
    list-style: none;    
    @media (min-width: 1070px) {
      margin-right: 20px;
    }
    @media (max-width: 699.68px) {
      padding-top: 40px;
    }
    &_we {
      @extend %for-a;      
    }
  }
}

.box-girl {
  @media (max-width: 1070px) {
    display: none;
  }
}

.information {
  display: none;
  padding-top: 20px;
  padding-bottom: 35px;
  list-style: none;
  padding-left: 12px;
  margin-bottom: 0;
  font: {
      family: 'GothamProMedium';
      size: 15px;
      weight: $medium;
    }
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);  
  &__names {
    font: {      
      size: 19px;     
    }
    padding-bottom: 5px;
  }
  &__jobs {
    color: $grey-clear;
    padding-bottom: 20px;
  }
  &__e-mail_lok {
    @extend %for-a;
    color: $blue-mail;
    text-decoration: underline;
    &:hover {
      color: $blue-clear;
      text-decoration: none;
    }
  }
  &__webs {
    &_communications {
      display: flex;
      justify-content: start;      
      list-style: none;
      padding-top: 30px;
      padding-left: 0;      
      &_icon-link {        
        width: 24px;
        display: block;
        height: 24px;
        border-radius: 12px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        @extend %for-a;
        a:hover {
          color: $blue;
        }
      }
    }  
  }
}

.foto-team__links:hover {
  .information {
    display: block;
  }  
}

.salute {
    &__more-info-about {
    @extend %for-more-info;
    padding-top: 0;
    padding-left: 0; 
    @media (min-width: 576px) and (max-width: 1069.98px) {
      padding-left: 150px;
    }  
  }
}

/* ------ media query ------ */
@include desktop {
  
}

@include laptop {  
  .foto-team {
    padding-right: 0;
    &__links {
      padding-right: 0;
    }
  }    
}

@include tablet {
  .foto-team {
    
  }  
}

@include phone {
  
}

@include iphone {
}

@include mobile {  
 
}