.section-7 {
  background-image: url("../img/fon-section-7.png");
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 107px;
}
.text-page {
  display: flex;
  flex-direction: column;
  @extend %for-text-page;
  .text-page__info-text {
    padding-right: 44px;
    padding-left: 0;
  }
}
.form-group-input {
  border: none;
}  

.form-control {
  text-transform: uppercase;
  padding: 0;
  border-width: 0px;
  box-shadow: 0 0px 0px rgba(0,0,0,.075);
  background-color: #fff0;
  border: 1px solid #eceef000;
  border-bottom: 1px solid $blue-air;
  border-radius: 0;
}