/* ------------ section-6 --------------- */
.section-6 {
  padding-top: 145px;
  padding-bottom: 145px;
}
.salute__team {
  display: flex;
  flex-direction: column;
  padding-right: 77px;
  padding-left: 0;
  &_topic-about {
    @extend %for-topic;
    padding-bottom: 30px;    
  }
  &_info-text-about {
    @extend %for-info-text;    
  }
}

.foto-team {
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 0;
  &__links {
    list-style: none;
    &_we {
      padding-right: 20px;
      @extend %for-a;
    }
  }
}

.information {
  display: none;
  padding-top: 20px;
  padding-bottom: 35px;
  list-style: none;
  padding-left: 12px;
  margin-right: 21px;
  margin-bottom: 0;
  font: {
      family: 'GothamProMedium';
      size: 15px;
      weight: $medium;
    }
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);  
  &__names {
    font: {      
      size: 19px;     
    }
    padding-bottom: 5px;
  }
  &__jobs {
    color: $grey-clear;
    padding-bottom: 20px;
  }
  &__e-mail_lok {
    @extend %for-a;
    color: $blue-mail;
    text-decoration: underline;
    &:hover {
      color: $blue-clear;
      text-decoration: none;
    }
  }
  &__webs {
    &_communications {
      display: flex;
      justify-content: start;      
      list-style: none;
      padding-top: 30px;
      padding-left: 0;      
      &_icon-link {        
        width: 24px;
        display: block;
        height: 24px;
        border-radius: 12px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        @extend %for-a;
        a:hover {
          color: $blue;
        }
      }
    }  
  }
}

.foto-team__links:hover {
  .information {
    display: block;
  }  
}

.salute {
    &__more-info-about {
    @extend %for-more-info;
    padding-top: 0;
    padding-left: 0;    
  }
}