.section-2 {
  background-image: url("../img/fon-section-2.2.png");
  background-size: cover;
}
.page-one__container {
  margin: 0 auto;
  padding-top: 102px;
}
.text-page__subtitle {
  @extend %for-p;
  font-size: 12px;
  text-transform: uppercase;
  color: $grey-milk;
  padding-top: 35px;
  padding-bottom: 35px;
}
.text-page__topic {
  @extend %for-h2;
  padding-bottom: 60px;
}
.text-page__info-text {
  @extend %for-p;
  font-size: 16px;
  padding-bottom: 100px;
}
.text-page__more-info {
  display: block;
  @extend %for-a;
  a:hover {
    color: $blue;
    text-decoration: none;
  }
  font:{
    family: 'FjallaOneRegular';
    size: 16px;
    weight: $medium;
  }
  text-transform: uppercase;
  color: $activ-botton;
}
.text-pag__more-info_arrow {
  padding-left: 8px;

}.team-office__foto-bottom {
  padding-top: 245px;
  position: relative;
  right: 0;
  top: -80px;
 }
 .team-office__foto-top {
   position: absolute;
   top: -30px;
   left: -20px;
   z-index: 1;
 }
.team-office__summation {
  position: absolute;
  bottom: 60px;
  left: 28px;
  z-index: 2;
  display: flex;
}
.team-office__summation_team {
  background-color: $white;
  margin-right: 10px;
  padding: 30px 20px 20px 20px;

}

._team-number {
  @extend %for-h2;
  font: {
    size: 55px;
    family: 'GothamProRegular';
  }
  line-height: 55px;
}
._team-text {
  @extend %for-p;
  font-size: 13px;
  line-height: 15px;
}