.section-4 {
  padding-top: 155px;
  padding-bottom: 300px;
}
.text-page {
  display: flex;
  flex-direction: column;
  @extend %for-text-page;
}
.list-tech {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  &__product {
     &_forma {
       @extend %for-buttons;
       font:{
         family: 'GothamProMedium';
         size: 15px;
         weight: $medium;
       }
       text-transform: none;
       background: $white;
       padding: 25px 50px;
       box-shadow: 0px 15px 35px 0px rgba(163, 174, 186, 0.2);
       @extend %for-a;
       color: $black;
       &:hover {
          color: $white;
          background: $activ-botton;
          text-decoration: none;
       }
     }
  }
}


.visitka {
  @extend %for-ul;
  display: block;
  position: absolute;
  width: 120px;
  top: 70px;
  padding-left: 0;
  background-color: white;
  text-align: center;
  &__work {
    display: block;
    width: 190px;
    text-align: center;
    background: none;
    border: none;
    &_link {
      display: block;
      padding: 10px;
      @extend %for-a;
      color: $grey-light;
      text-decoration: none;
    }
  }
}