/* ------------ section-7 --------------- */
.section-7 {
  background-image: url("../img/fon-section-7.png");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 107px;
}

.write {
  background-color: $white;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 58px;
  padding-bottom: 30px;
  &__forms {
    padding-left: 10px;
  }
}

.communication__help {
  display: flex;
  flex-direction: column;
  &_topic-mail {
    @extend %for-topic;
    padding-bottom: 20px;    
  }
  &_info-text-mail {
    @extend %for-info-text;
    color: $grey-in;
    padding-right: 44px;
    padding-left: 0;
    padding-bottom: 60px;    
  }
}

.form-group-input {
  border: none;
}  

.form-control {
  @extend %for-input;
  font-size: 15px;  
  text-transform: uppercase;
  padding: 0;
  box-shadow: 0 0 0 rgba(0,0,0,.075);
  background-color: $background-opacity;
  border: 1px solid $border-opacity;
  border-bottom: 1px solid $blue-air;
  border-radius: 0;
  resize: none;
  overflow-x: hidden; 
  margin-bottom: 38px; 
}

.form-control::-webkit-input-placeholder { 
    color: $blue-air;
  text-transform: uppercase;
    }

.nf {
  font-size: 15px;
  font-weight: $regular;
  color: $black;
  text-transform: none;    
}

.mes {
  margin-bottom: 75px;
}

.colors {
  color: $blue-air;
  font-size: 12px;
  font-weight: $regular;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.cf {
  border-bottom: 1px solid $black;
}

.submit-button {
  border: none;
  @extend %for-buttons;
  @extend %for-a;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.forms-contacts {
  &_topic-mail {
    @extend %for-topic;
    padding-bottom: 0;
  }
  @extend %for-p;
  font-size: 16px;
  line-height: 20px;
  padding-top: 80px;
  padding-left: 45px;
  &_address {    
    font: {
      size: 18px;
      weight: $medium;
    }    
    &_medium-plus {
      font: {
        size: 18px;
        weight: $medium-plus;
      } 
      padding-top: 30px;
      margin-bottom: 5px; 
    }
  }
  &_address_it {    
    @extend %for-span;    
  }
  &_adds_mail {   
    color: $blue-mail;
    text-decoration: underline;
    &:hover {
      color: $blue-clear;
      text-decoration: none;
    }
  }
  &_adds {
    margin-bottom: 5px;
    &_ph {
      padding-bottom: 25px;
    }
  }
}

/* ------ media query ------ */
@include desktop {
  
}

@include laptop {
    
}

@include tablet {
    
}

@include phone {
  
}

@include iphone {
}

@include mobile {  
 
}