/* ------------ section-3 --------------- */
.services__provide {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 253px;
   &_subtitle-prof {
    @extend %for-subtitle;    
  }
  &_topic-prof {
    @extend %for-topic;
    padding-bottom: 45px;    
  }
  &_info-text-prof {
    @extend %for-info-text;    
  }
}

.provide-one {
  display: inline-block;
  padding-top: 85px;
  padding-bottom: 50px;
  &__text-suggesttion {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
    &_fotos {
      padding-bottom: 40px;
    }
    &_names {
      @extend %for-h3;
      padding-bottom: 25px;
    }
    &_second {
      @extend %for-p;
      font-size: 15px;
      color: $blue-light;
      padding-right: 0;
      padding-bottom: 30px;
    }
    &_read-more {
      font:{
        family: 'FjallaOneRegular';
        size: 13px;
        weight: $bold;
      }
      color: $black;
      text-transform: uppercase;
      @extend %for-a;
      &:hover {
        color: $activ-botton;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.slem {
  padding-top: 8px;
}
.smallest {
  padding-bottom: 31px;
}

.lines {
  border-bottom: 1px solid $grey-light;
}

.spec {
  padding-right: 15px;
  padding-left: 15px;  
}

.slip {
  padding-left: 20px;
}

.serf {
  padding-right: 9px;
}

/* ------ media query ------ */
@include desktop {
  
}

@include laptop {
  .services__provide {
    padding-right: 0;
    &_info-text-prof {
      padding-right: 95px;    
    }
  }  
  .provide-one {    
    padding-bottom: 0;
    padding-top: 50px;
    &__text-suggesttion {
      padding-bottom: 50px;
      &_second {
        padding-right: 43px;
      }
    }
  }
  .serf {
    clear: left;
  }
}

@include tablet {
  .services__provide {
    padding-right: 153px;
    &_subtitle-prof {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    &_topic-prof {
      padding-right: 0;
      padding-bottom: 30px;
    }
  }
  .provide-one {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 50px;
    &__text-suggesttion {
      padding-bottom: 50px;
    }
  }  
}

@include phone {
  .services__provide {
    text-align: center;
    padding-left: 40px;
    &_subtitle-prof {
      padding-top: 50px;
      padding-bottom: 15px;
    }
    &_topic-prof {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }
  .provide-one {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    &__text-suggesttion {
      padding-right: 71px;
      padding-left: 71px;
      padding-bottom: 40px;
      &_second {
        line-height: 23px;
        padding-right: 0;
        padding-bottom: 15px;
      }
      &_names {
        padding-bottom: 15px;
      }
      &_fotos {
        padding-bottom: 20px;
      }
    }
  }
  .smallest {
    padding-left: 22px;
  }
}

@include iphone {
  .services__provide {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    &_subtitle-prof {
      padding-top: 30px;
      padding-bottom: 15px;
    }
    &_topic-prof {
      padding-right: 0;
      padding-bottom: 20px;
      font-size: 25px;
      font-weight: 600;
      line-height: 35px;
    }
    &_info-text-prof {
      font-size: 13px;
      line-height: 20px;
    }
  }
  .provide-one {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    &__text-suggesttion {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 30px;
      &_second {
        padding-right: 0;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 18px;
      }
      &_names {
        font-size: 18px;
        padding-bottom: 15px;
      }
      &_read-more {
        font-size: 12px;
      }
      &_fotos {
        padding-bottom: 20px;
      }
    }
  }
  .smallest {
    padding-left: 22px;
  }
}

@include mobile {  
  .services__provide {
    text-align: center;
    padding-left: 40px;
    &_subtitle-prof {
      font-size: 10px;
      line-height: 16px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &_topic-prof {
      padding-right: 0;
      padding-bottom: 20px;
      font-size: 25px;
      font-weight: 600;
      line-height: 35px;
    }
    &_info-text-prof {
      font-size: 13px;
      line-height: 20px;
    }
  }
  .provide-one {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    &__text-suggesttion {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
      &_second {
        padding-right: 0;
        padding-bottom: 7px;
        font-size: 12px;
        line-height: 21px;
      }
      &_read-more {
        font-size: 11px;
      }
      &_names {
        font-size: 17px;
        padding-bottom: 10px;
      }
      &_fotos {
        padding-bottom: 15px;
      }
    }
  }
}
