.section-6 {
  padding-top: 145px;
  padding-bottom: 150px;
}
.text-page {
  display: flex;
  flex-direction: column;
  @extend %for-text-page;
  .text-page__info-text {
    padding-right: 44px;
    padding-left: 0;
  }
}

.foto-team {
  display: flex;
  padding-top: 18px;
  padding-bottom: 100px;
  &__links {
    list-style: none;
    &_we {
      padding-right: 20px;
      @extend %for-a;
    }
  }
}

.information {
  display: none;
  padding-top: 20px;
  padding-bottom: 35px;
  list-style: none;
  padding-left: 12px;
  margin-bottom: 0;
  font: {
      family: 'GothamProMedium';
      size: 15px;
      weight: $medium;
    }
  &__names {
    font: {      
      size: 19px;     
    }
    padding-bottom: 5px;
  }
  &__jobs {
    color: $grey-clear;
    padding-bottom: 20px;
  }
  &__e-mail_lok {
    @extend %for-a;
    text-decoration: underline;
    a:hover {
      color: $blue;
    }
  }
  &__webs {
    &_communications {
      display: flex;
      justify-content: start;      
      list-style: none;
      padding-top: 30px;
      padding-left: 0;      
      &_icon-link {        
        width: 24px;
        display: block;
        height: 24px;
        border-radius: 12px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        @extend %for-a;
        a:hover {
          color: $blue;
        }
      }
    }  
  }
}

.foto-team__links:hover {
  .information {
    display: block;
  }  
}

.text-page__more-info {
    @extend %for-a;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
    font:{
      family: 'FjallaOneRegular';
      size: 16px;
      weight: $medium;
    }
    text-transform: uppercase;
    color: $activ-botton;
  }
.text-page__more-info_arrow {
  padding-left: 8px;
}