

html, body {

    font-family: 'Fjalla One', sans-serif;
}

.container {

}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

%for-a {
	a {		
		color: $black;
	    text-decoration: none;
	}
  a:hover {
        color: $black;
        text-decoration: none;
  }
}

%for-p {
	font:{
        family: 'GothamProRegular';
		    size: 17px;
  }
	color: $black;
	margin-bottom: 0;
	line-height: 26px;
}

span {
    font-size: 30px;	
	font-style: italic;
	color: $white; 
}

%for-h1 {
	font:{
     family: 'FjallaOneRegular';
	   size: 80px;
	   weight: $extrabold;
    }
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 90px;
    color: $black;
    margin: 0;
}

%for-h2 {
	font:{
      family: 'FjallaOneRegular';
	    size: 41px;
	    weight: $extrabold;
    }
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    color: $black;
}

%for-h3 {
	font:{
     family: 'FjallaOneRegular';
	   size: 25px;	
	   weight: $bold;
    }
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 0;
  color: $black;
}

%for-buttons {
	font:{
      family: 'FjallaOneRegular';
	    size: 16px;
	}
  text-transform: uppercase;
  color: $white;
  padding: 12px 30px;
  background-color: $activ-botton;
  margin-bottom: 0;
}

%for-ul {
  ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
}


@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}  
@mixin phone {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
} 
@mixin iphone {
  @media (min-width: 320px) and (max-width: 575px) {
    @content;
  }
}
