@font-face {
  font-family: 'FjallaOneRegular';
  src: url("../fonts/FjallaOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url("../fonts/PlayfairDisplay-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
html, body {
  font-family: 'Fjalla One', sans-serif;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.rooted .general-page__buttons-vertical {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  padding: 3px 25px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000;
  background-color: #0070ed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 25px;
  border-radius: 2px;
}
.rooted .general-page__buttons-vertical:hover {
  color: #FFFFFF;
  background-color: rgba(0, 112, 237, 0.6);
  text-decoration: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.rooted .general-page__buttons-vertical a, .text-page__more-info a, .salute__more-info-about a, .nav__menu_menu-li a, .submenu-li a, .nav__menu_menu-li_btn_buttons a, .general-page__text_btns_vip a, .provide-one__text-suggesttion_read-more a, .list-tech__product:hover .visitka a, .list-tech__product_forma a, .visitka__work_link a, .foto-team__links_we a, .information__e-mail_lok a, .information__webs_communications_icon-link a, .submit-button a {
  color: #000;
  text-decoration: none;
}
.rooted .general-page__buttons-vertical a:hover, .text-page__more-info a:hover, .salute__more-info-about a:hover, .nav__menu_menu-li a:hover, .submenu-li a:hover, .nav__menu_menu-li_btn_buttons a:hover, .general-page__text_btns_vip a:hover, .provide-one__text-suggesttion_read-more a:hover, .list-tech__product:hover .visitka a:hover, .list-tech__product_forma a:hover, .visitka__work_link a:hover, .foto-team__links_we a:hover, .information__e-mail_lok a:hover, .information__webs_communications_icon-link a:hover, .submit-button a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.rooted .general-page__buttons-vertical a:visited, .text-page__more-info a:visited, .salute__more-info-about a:visited, .nav__menu_menu-li a:visited, .submenu-li a:visited, .nav__menu_menu-li_btn_buttons a:visited, .general-page__text_btns_vip a:visited, .provide-one__text-suggesttion_read-more a:visited, .list-tech__product:hover .visitka a:visited, .list-tech__product_forma a:visited, .visitka__work_link a:visited, .foto-team__links_we a:visited, .information__e-mail_lok a:visited, .information__webs_communications_icon-link a:visited, .submit-button a:visited {
  color: #0049d7;
  text-decoration: none;
}
.rooted .general-page__buttons-vertical a:focus, .text-page__more-info a:focus, .salute__more-info-about a:focus, .nav__menu_menu-li a:focus, .submenu-li a:focus, .nav__menu_menu-li_btn_buttons a:focus, .general-page__text_btns_vip a:focus, .provide-one__text-suggesttion_read-more a:focus, .list-tech__product:hover .visitka a:focus, .list-tech__product_forma a:focus, .visitka__work_link a:focus, .foto-team__links_we a:focus, .information__e-mail_lok a:focus, .information__webs_communications_icon-link a:focus, .submit-button a:focus {
  color: #0049d7;
  text-decoration: none;
}

.text-page__subtitle, .services__provide_subtitle-prof, .technology__promotion_subtitle-choice, .text-page__info-text, .services__provide_info-text-prof, .technology__promotion_info-text-choice, .salute__team_info-text-about, .communication__help_info-text-mail, .general-page__text_main, .office__summation_team_block-text, .provide-one__text-suggesttion_second, .manager__text-solutions, .manager__name-marcos, .manager__profaition, .forms-contacts, .lower__text-rows_text-link {
  font-family: 'GothamProRegular';
  font-size: 17px;
  color: #000;
  margin-bottom: 0;
  line-height: 26px;
}

.forms-contacts_address_it {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
}

.general-page__text_topic {
  font-family: 'FjallaOneRegular';
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 90px;
  color: #000;
  margin: 0;
}

.text-page__topic, .services__provide_topic-prof, .technology__promotion_topic-choice, .salute__team_topic-about, .communication__help_topic-mail, .forms-contacts_topic-mail, .office__summation_team_block-number {
  font-family: 'FjallaOneRegular';
  font-size: 41px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 6px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
}

.provide-one__text-suggesttion_names {
  font-family: 'FjallaOneRegular';
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
}

.nav__menu_menu-li_btn_buttons, .general-page__text_btns_vip, .list-tech__product_forma, .submit-button {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  padding: 12px 30px;
  background-color: #0070ed;
  border-radius: 3px;
  margin-bottom: 0;
}

.form-control {
  color: #bac3cd;
}

.nav__menu ul:after, .submenu ul:after, .visitka ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.text-page__subtitle, .services__provide_subtitle-prof, .technology__promotion_subtitle-choice {
  font-size: 12px;
  text-transform: uppercase;
  color: #c2cad6;
  padding-top: 35px;
  padding-bottom: 35px;
}

.text-page__topic, .services__provide_topic-prof, .technology__promotion_topic-choice, .salute__team_topic-about, .communication__help_topic-mail, .forms-contacts_topic-mail {
  padding-left: 0;
  padding-bottom: 60px;
}

.text-page__info-text, .services__provide_info-text-prof, .technology__promotion_info-text-choice, .salute__team_info-text-about, .communication__help_info-text-mail {
  font-size: 16px;
  clear: both;
}

.text-page__more-info, .salute__more-info-about {
  display: block;
  padding-top: 30px;
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0070ed;
}
.text-page__more-info:hover, .salute__more-info-about:hover {
  color: #223569;
  text-decoration: none;
}
.header-top {
  padding-top: 35px;
  padding-bottom: 40px;
}

.header {
  background-color: #FFFFFF;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 6;
  top: 0;
}

.nav__menu {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'GothamProMedium';
  font-size: 15px;
  color: #000;
  line-height: 15px;
}

.nav__menu_menu-li {
  position: relative;
}
.nav__menu_menu-li a:hover {
  color: #000;
}

.nav__menu_menu-li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 35px;
  padding-left: 0;
  background-color: white;
  text-align: center;
}

.submenu-li {
  display: block;
  border-bottom: 1px solid #dedddd;
}
.submenu-li a:hover {
  color: #000;
}

.submenu-a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #FFFFFF;
  text-decoration: none;
}

.nav__menu_menu-li_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__menu_menu-li_btn_buttons {
  color: #000;
}
.nav__menu_menu-li_btn_buttons:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.choice {
  display: block;
  padding: 10px 0;
}

/* ---------------- byrger start ------------------ */
.menu {
  text-align: right;
  padding-top: 9px;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #223569;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.gambyrger-menu__list {
  display: inline-block;
  color: #0070ed;
  padding: 0 10px;
  text-decoration: none;
}

.gambyrger-menu__list:hover {
  text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .gambyrger-menu {
  display: block;
}

/* ------ byrger final ------------------------- */
/* ------ media query ------ */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 321px) and (max-width: 576px) {
  .gambyrger-menu__list, .nav__btn {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (max-width: 320px) {
  .gambyrger-menu__list, .nav__btn {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
/* ------------ section-1 --------------- */
.section-1 {
  background-image: url("../img/fon-section-1.png");
  background-size: cover;
}

.rooted {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  position: fixed;
  right: 0;
  z-index: 5;
  top: 65%;
}
@media (min-width: 722px) and (max-width: 767px) {
  .rooted {
    top: 35%;
  }
}
@media (min-width: 516px) and (max-width: 576px) {
  .rooted {
    top: 26%;
  }
}
@media (min-width: 452px) and (max-width: 515px) {
  .rooted {
    top: 31%;
  }
}
@media (min-width: 351px) and (max-width: 451px) {
  .rooted {
    top: 35%;
  }
}
@media (min-width: 320px) and (max-width: 350px) {
  .rooted {
    top: 38%;
  }
}
.rooted .general-page__buttons-vertical {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rooted .general-page__buttons-vertical_icon-forma {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 20px;
}
@media (max-width: 510px) {
  .rooted {
    display: none;
  }
}

.general-page__text {
  padding-top: 205px;
}
@media (min-width: 429px) and (max-width: 575px) {
  .general-page__text {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 336px) and (max-width: 428px) {
  .general-page__text {
    padding-left: 70px;
    padding-right: 70px;
  }
}
.general-page__text_main {
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 65px;
  font-weight: 600;
}
.general-page__text_topic {
  font-weight: 300;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 27px;
}
@media (min-width: 428px) and (max-width: 628px) {
  .general-page__text_topic {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media (min-width: 516px) and (max-width: 534px) {
  .general-page__text_topic {
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media (min-width: 393px) and (max-width: 427px) {
  .general-page__text_topic {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media (min-width: 348px) and (max-width: 392px) {
  .general-page__text_topic {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.general-page__text_btns {
  padding-bottom: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 476px) {
  .general-page__text_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 401px) and (max-width: 476px) {
  .general-page__text_btns {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 381px) and (max-width: 400px) {
  .general-page__text_btns {
    padding-left: 53px;
    padding-right: 53px;
  }
}
@media (min-width: 348px) and (max-width: 380px) {
  .general-page__text_btns {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 320px) and (max-width: 347px) {
  .general-page__text_btns {
    padding-left: 23px;
    padding-right: 23px;
  }
}
.general-page__text_btns_vip {
  background-color: #FFFFFF;
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px 53px;
}
.general-page__text_btns_vip:hover {
  color: #FFFFFF;
  background-color: #0070ed;
  text-decoration: none;
}
.general-page__text_btns .leftb {
  padding: 12px 36px;
}

/* --------- scroll mouse start -------- */
#mice {
  margin: 0 auto;
  padding-bottom: 8em;
  padding-top: 5.5em;
  text-align: center;
  width: 20px;
  height: 9px;
}

#mice span {
  display: block;
  width: 9px;
  height: 9px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 5px 0 3px 6px;
}

.unu {
  margin-top: 6px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse {
  height: 30px;
  width: 22px;
  border-radius: 10px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  border: 2px solid #000;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 7px auto;
  background: #000;
  position: relative;
}

/* --------- scroll mouse finish -------- */
/* ------ media query ------ */
@media (min-width: 1201px) {
  .general-page__text_btns_buttons-left {
    width: 19%;
  }
  .general-page__text_btns_buttons-right {
    width: 19%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .general-page__text {
    padding-top: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .general-page__text_main {
    padding-left: 47px;
    padding-right: 47px;
  }
  .general-page__text_topic {
    font-size: 65px;
    line-height: 70px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 2px #000, 0 0 1em #b2b9c5;
  }

  .general-page__text_btns {
    padding-bottom: 30px;
  }
  .general-page__text_btns_buttons-left {
    width: 25%;
  }
  .general-page__text_btns_buttons-right {
    width: 25%;
  }

  #mice {
    padding-bottom: 7em;
  }

  .rooted {
    top: 50%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .general-page__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
  .general-page__text_main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }
  .general-page__text_topic {
    font-size: 40px;
    line-height: 55px;
    text-shadow: 1px 1px 2px #000, 0 0 1em #b2b9c5;
  }

  .general-page {
    padding-left: 0;
    padding-right: 0;
    padding-top: 95px;
  }

  .general-page__text_btns {
    padding-bottom: 0;
  }
  .general-page__text_btns_buttons-left {
    width: 25%;
  }
  .general-page__text_btns_buttons-right {
    width: 25%;
  }

  #mice {
    padding-bottom: 4em;
    padding-top: 2.5em;
  }

  .rooted {
    top: 40%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .general-page__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
  .general-page__text_main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }
  .general-page__text_topic {
    padding-left: 0;
    padding-right: 0;
    font-size: 29px;
    line-height: 45px;
    text-shadow: 1px 1px 2px #000, 0 0 1em #b2b9c5;
  }

  .general-page {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
  }

  .general-page__text_btns {
    padding-bottom: 0;
  }
  .general-page__text_btns_buttons-left {
    width: 32%;
  }
  .general-page__text_btns_buttons-right {
    width: 32%;
  }

  #mice {
    padding-bottom: 4em;
    padding-top: 1.5em;
  }

  .rooted {
    top: 39%;
  }
}
@media (min-width: 321px) and (max-width: 576px) {
  .general-page__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }
  .general-page__text_main {
    font-size: 12px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
  }
  .general-page__text_topic {
    font-size: 22px;
    line-height: 31px;
    text-shadow: 1px 1px 2px #000, 0 0 1em #b2b9c5;
  }

  .general-page {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
  }

  .general-page__text_btns {
    padding-bottom: 0;
  }
  .general-page__text_btns_vip {
    margin-bottom: 10px;
  }
  .general-page__text_btns_buttons-left {
    width: 32%;
  }
  .general-page__text_btns_buttons-right {
    width: 32%;
  }

  #mice {
    padding-bottom: 4em;
    padding-top: 1.5em;
  }
}
@media (max-width: 320px) {
  .general-page__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
  }
  .general-page__text_main {
    font-size: 12px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
  }
  .general-page__text_topic {
    font-size: 18px;
    line-height: 25px;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 1px 1px 2px #000, 0 0 1em #b2b9c5;
  }

  .general-page {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
  }

  .general-page__text_btns {
    width: 68%;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .general-page__text_btns_vip {
    padding: 12px 0px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .general-page__text_btns_buttons-left {
    width: 32%;
  }
  .general-page__text_btns_buttons-right {
    width: 32%;
  }

  #mice {
    padding-bottom: 4em;
    padding-top: 1.5em;
  }
}
/* ------------ section-2 --------------- */
.section-2 {
  background-image: url("../img/fon-section-2.2.png");
  background-size: cover;
}

.page-one__container {
  margin: 0 auto;
  padding-top: 102px;
}

.container__company-visiter {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 205px;
}
@media (min-width: 992px) {
  .container__company-visiter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.text-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 80px;
  padding-left: 0;
}
.text-page__more-info {
  padding-top: 90px;
  padding-bottom: 60px;
}

.office__foto-bottom {
  position: absolute;
  right: 0;
  top: 0;
  top: 245px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.office__foto-top {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 96px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.office__summation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  left: -18px;
  bottom: -45px;
}
.office__summation_team {
  background-color: #FFFFFF;
  margin-right: 10px;
  padding: 30px 7px 20px 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 440px) {
  .office__summation_team {
    padding: 10px 4px 10px 4px;
  }
}
@media (min-width: 441px) and (max-width: 575px) {
  .office__summation_team {
    padding: 17px 7px 17px 7px;
  }
}
.office__summation_team_block-number {
  font-size: 55px;
  font-family: 'GothamProMedium';
  letter-spacing: 0;
  line-height: 55px;
}
@media (max-width: 440px) {
  .office__summation_team_block-number {
    font-size: 34px;
    line-height: 36px;
  }
}
.office__summation_team_block-text {
  font-size: 13px;
  line-height: 15px;
}

/* ------------ media query --------------- */
@media (min-width: 993px) and (max-width: 1200px) {
  .page-one__container {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container__company-visiter {
    padding-bottom: 80px;
  }

  .text-page {
    padding-right: 50px;
  }
  .text-page__topic {
    font-size: 32px;
  }

  .office__foto-bottom {
    top: 330px;
  }

  .office__foto-top {
    right: 0;
  }

  .office__summation {
    left: -32px;
    bottom: 200px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .page-one__container {
    padding-top: 10px;
  }

  .container__company-visiter {
    padding-bottom: 355px;
  }

  .text-page__topic {
    padding-bottom: 20px;
  }
  .text-page__more-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .office__foto-bottom {
    position: absolute;
    z-index: -2;
    padding-top: 0;
    top: 245px;
    left: 96px;
  }

  .office__foto-top {
    position: relative;
    left: 0;
  }

  .office__summation {
    position: absolute;
    z-index: 1;
    bottom: -325px;
    left: 0;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .page-one__container {
    padding-top: 10px;
  }

  .text-page {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }
  .text-page__subtitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .text-page__topic {
    font-size: 26px;
    line-height: 38px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .text-page__more-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .office {
    text-align: center;
  }

  .office__foto-bottom {
    padding-top: 45px;
    position: relative;
  }

  .office__foto-top {
    position: relative;
    left: 0;
  }

  .office__summation {
    position: absolute;
    bottom: 286px;
    left: 80px;
  }
}
@media (min-width: 321px) and (max-width: 576px) {
  .page-one__container {
    padding-top: 0;
  }

  .container__company-visiter {
    padding-bottom: 0;
  }

  .text-page {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  .text-page__subtitle {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .text-page__topic {
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 10px;
  }
  .text-page__info-text {
    font-size: 14px;
    line-height: 20px;
  }
  .text-page__more-info {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 25px;
  }

  .office {
    text-align: center;
    padding: 0;
  }

  .office__foto-bottom {
    display: none;
  }

  .office__foto-top {
    display: none;
  }

  .office__summation {
    position: static;
    bottom: 25px;
  }
}
@media (max-width: 320px) {
  .page-one__container {
    padding-top: 0;
  }

  .container__company-visiter {
    padding-bottom: 0;
    padding-right: 15px;
  }

  .text-page {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .text-page__subtitle {
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .text-page__topic {
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 10px;
  }
  .text-page__info-text {
    font-size: 14px;
    line-height: 20px;
  }
  .text-page__more-info {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .office {
    text-align: center;
    padding: 0;
  }

  .office__foto-bottom {
    display: none;
  }

  .office__foto-top {
    display: none;
  }

  .office__summation {
    display: none;
  }
}
/* ------------ section-3 --------------- */
.services__provide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 253px;
}
.services__provide_topic-prof {
  padding-bottom: 45px;
}

.provide-one {
  display: inline-block;
  padding-top: 85px;
  padding-bottom: 50px;
}
.provide-one__text-suggesttion {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
}
.provide-one__text-suggesttion_fotos {
  padding-bottom: 40px;
}
.provide-one__text-suggesttion_names {
  padding-bottom: 25px;
}
.provide-one__text-suggesttion_second {
  font-size: 15px;
  color: #95a3b8;
  padding-right: 0;
  padding-bottom: 30px;
}
.provide-one__text-suggesttion_read-more {
  font-family: 'FjallaOneRegular';
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.provide-one__text-suggesttion_read-more:hover {
  color: #0070ed;
  text-decoration: none;
  cursor: pointer;
}

.slem {
  padding-top: 8px;
}

.smallest {
  padding-bottom: 31px;
}

.lines {
  border-bottom: 1px solid #dedddd;
}

.spec {
  padding-right: 15px;
  padding-left: 15px;
}

.slip {
  padding-left: 20px;
}

.serf {
  padding-right: 9px;
}

/* ------ media query ------ */
@media (min-width: 993px) and (max-width: 1200px) {
  .services__provide {
    padding-right: 0;
  }
  .services__provide_info-text-prof {
    padding-right: 95px;
  }

  .provide-one {
    padding-bottom: 0;
    padding-top: 50px;
  }
  .provide-one__text-suggesttion {
    padding-bottom: 50px;
  }
  .provide-one__text-suggesttion_second {
    padding-right: 43px;
  }

  .serf {
    clear: left;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .services__provide {
    padding-right: 153px;
  }
  .services__provide_subtitle-prof {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .services__provide_topic-prof {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .provide-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 50px;
  }
  .provide-one__text-suggesttion {
    padding-bottom: 50px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .services__provide {
    text-align: center;
    padding-left: 40px;
  }
  .services__provide_subtitle-prof {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .services__provide_topic-prof {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .provide-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
  }
  .provide-one__text-suggesttion {
    padding-right: 71px;
    padding-left: 71px;
    padding-bottom: 40px;
  }
  .provide-one__text-suggesttion_second {
    line-height: 23px;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .provide-one__text-suggesttion_names {
    padding-bottom: 15px;
  }
  .provide-one__text-suggesttion_fotos {
    padding-bottom: 20px;
  }

  .smallest {
    padding-left: 22px;
  }
}
@media (min-width: 321px) and (max-width: 576px) {
  .services__provide {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .services__provide_subtitle-prof {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .services__provide_topic-prof {
    padding-right: 0;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }
  .services__provide_info-text-prof {
    font-size: 13px;
    line-height: 20px;
  }

  .provide-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
  }
  .provide-one__text-suggesttion {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }
  .provide-one__text-suggesttion_second {
    padding-right: 0;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .provide-one__text-suggesttion_names {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .provide-one__text-suggesttion_read-more {
    font-size: 12px;
  }
  .provide-one__text-suggesttion_fotos {
    padding-bottom: 20px;
  }

  .smallest {
    padding-left: 22px;
  }
}
@media (max-width: 320px) {
  .services__provide {
    text-align: center;
    padding-left: 40px;
  }
  .services__provide_subtitle-prof {
    font-size: 10px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .services__provide_topic-prof {
    padding-right: 0;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }
  .services__provide_info-text-prof {
    font-size: 13px;
    line-height: 20px;
  }

  .provide-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }
  .provide-one__text-suggesttion {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }
  .provide-one__text-suggesttion_second {
    padding-right: 0;
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 21px;
  }
  .provide-one__text-suggesttion_read-more {
    font-size: 11px;
  }
  .provide-one__text-suggesttion_names {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .provide-one__text-suggesttion_fotos {
    padding-bottom: 15px;
  }
}
/* ------------ section-4 --------------- */
.section-4 {
  padding-top: 100px;
  margin-bottom: 310px;
}

.technology__promotion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.technology__promotion_subtitle-choice {
  padding-top: 30px;
  padding-bottom: 30px;
}
.technology__promotion_topic-choice {
  padding-bottom: 40px;
}
.technology__promotion_info-text-choice {
  padding-bottom: 60px;
}

.list-tech {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) and (max-width: 1070px) {
  .list-tech {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.list-tech__product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.list-tech__product:hover .visitka {
  display: block;
  color: #000;
}
.list-tech__product:hover .visitka a:hover {
  color: #0049d7;
}
.list-tech__product_forma {
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  background: #FFFFFF;
  padding: 25px 40px;
  box-shadow: 0px 15px 35px 0px rgba(163, 174, 186, 0.2);
  color: #000;
}
.list-tech__product_forma:hover {
  color: #FFFFFF;
  background: #0070ed;
  text-decoration: none;
}

.visitka {
  display: none;
  position: absolute;
  top: 73px;
  padding-left: 0;
  text-align: center;
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
}
.visitka a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
.visitka__work {
  display: block;
  width: 190px;
  text-align: center;
  background: none;
  border: none;
}
.visitka__work_link {
  display: block;
  padding: 10px;
  color: #dedddd;
  text-decoration: none;
}

/* ------ media query ------ */
@media (min-width: 1201px) {
  .visitka__work {
    width: 150px;
  }
  .visitka__work_link {
    padding: 10px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .list-tech__product {
    margin-left: 5px;
    margin-right: 5px;
  }
  .list-tech__product .visitka__work {
    width: 157px;
  }
  .list-tech__product_forma {
    padding: 25px 36px;
  }
}
/* ------------ section-5 --------------- */
.section-5 {
  background: url("../img/fon-section-5.png") 50% no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 105px;
}

.manager {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 65px;
  border-radius: 5px;
}
.manager__fotos-door {
  padding-bottom: 55px;
}
.manager__fotos-door_man {
  padding-left: 75px;
  padding-right: 75px;
}
.manager__text-solutions {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;
}
.manager__text-solutions_bolds {
  font-weight: 700;
}
.manager__name-marcos {
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
}
.manager__profaition {
  font-family: 'GothamProMedium';
  font-size: 16px;
  font-weight: 500;
  color: #c7d7ea;
}

.carousels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 82px;
  margin-bottom: 88px;
}
.carousels__as {
  cursor: pointer;
  height: 16px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #0049d7;
}
.carousels__as_he {
  cursor: pointer;
  padding-right: 8px;
  padding-left: 8px;
  height: 16px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #FFFFFF;
}

/* ------ media query ------ */
/* ------------ section-6 --------------- */
.section-6 {
  padding-top: 145px;
  margin-bottom: 145px;
}

.salute__team {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 30px;
}
@media (max-width: 1070px) {
  .salute__team {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
  }
}
.salute__team_topic-about {
  padding-bottom: 30px;
}
.salute__team_info-text-about {
  padding-left: 0;
}
@media (min-width: 1071px) {
  .salute__team_info-text-about {
    padding-right: 450px;
  }
}

.foto-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (min-width: 992px) and (max-width: 1070px) {
  .foto-team {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.foto-team__links {
  list-style: none;
}
@media (min-width: 1070px) {
  .foto-team__links {
    margin-right: 20px;
  }
}

@media (max-width: 1070px) {
  .box-girl {
    display: none;
  }
}

.information {
  display: none;
  padding-top: 20px;
  padding-bottom: 35px;
  list-style: none;
  padding-left: 12px;
  margin-bottom: 0;
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
}
.information__names {
  font-size: 19px;
  padding-bottom: 5px;
}
.information__jobs {
  color: #b2b9c5;
  padding-bottom: 20px;
}
.information__e-mail_lok {
  color: #0070ed;
  text-decoration: underline;
}
.information__e-mail_lok:hover {
  color: #c7d7ea;
  text-decoration: none;
}
.information__webs_communications {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
.information__webs_communications_icon-link {
  width: 24px;
  display: block;
  height: 24px;
  border-radius: 12px;
  background-color: #FFFFFF;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}
.information__webs_communications_icon-link a:hover {
  color: #223569;
}

.foto-team__links:hover .information {
  display: block;
}

.salute__more-info-about {
  padding-top: 0;
  padding-left: 0;
}

/* ------ media query ------ */
@media (min-width: 993px) and (max-width: 1200px) {
  .foto-team {
    padding-right: 0;
  }
  .foto-team__links {
    padding-right: 0;
  }

  .salute__more-info-about {
    padding-left: 85px;
  }
}
/* ------------ section-7 --------------- */
.section-7 {
  background-image: url("../img/fon-section-7.png");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 107px;
}

.write {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 58px;
  padding-bottom: 30px;
}
.write__forms {
  padding-left: 10px;
}

.communication__help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.communication__help_topic-mail {
  padding-bottom: 20px;
}
.communication__help_info-text-mail {
  color: #727272;
  padding-right: 44px;
  padding-left: 0;
  padding-bottom: 60px;
}

.form-group-input {
  border: none;
}

.form-control {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
  background-color: rgba(236, 238, 240, 0);
  border: 1px solid rgba(236, 238, 240, 0);
  border-bottom: 1px solid #bac3cd;
  border-radius: 0;
  resize: none;
  overflow-x: hidden;
  margin-bottom: 38px;
}

.form-control::-webkit-input-placeholder {
  color: #bac3cd;
  text-transform: uppercase;
}

.nf {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  text-transform: none;
}

.mes {
  margin-bottom: 75px;
}

.colors {
  color: #bac3cd;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.cf {
  border-bottom: 1px solid #000;
}

.submit-button {
  border: none;
}
.submit-button:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.forms-contacts {
  font-size: 16px;
  line-height: 20px;
  padding-top: 80px;
  padding-left: 45px;
}
.forms-contacts_topic-mail {
  padding-bottom: 0;
}
.forms-contacts_address {
  font-size: 18px;
  font-weight: 500;
}
.forms-contacts_address_medium-plus {
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 5px;
}
.forms-contacts_adds_mail {
  color: #0070ed;
  text-decoration: underline;
}
.forms-contacts_adds_mail:hover {
  color: #c7d7ea;
  text-decoration: none;
}
.forms-contacts_adds {
  margin-bottom: 5px;
}
.forms-contacts_adds_ph {
  padding-bottom: 25px;
}

/* ------ media query ------ */
/* ------------ footer did Angelika --------------- */
.footer {
  background-color: #151c26;
  font-size: 25px;
}

.lower__webs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.lower__webs_icon-link {
  padding-right: 5px;
  padding-left: 5px;
  color: #FFFFFF;
}
.lower__text-rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
}
.lower__text-rows_text-link {
  font-family: 'GothamProMedium';
  font-size: 14px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .lower__text-rows_text-link {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .lower__text-rows_text-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 414px) {
  .lower__text-rows_text-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.lower__text-rows_text-link:hover {
  text-decoration: none;
}
.lower__copies {
  padding-bottom: 70px;
}
.lower__copies_copy-text {
  font-family: 'FjallaOneRegular';
  font-size: 14px;
  color: #374152;
}
.lower__copies_copy-line {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background-color: #374152;
}

.fab {
  vertical-align: center;
}

.circle {
  display: table-cell;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #374152;
}

/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- section-5 -------- */
/* -------- section-6 -------- */
/* -------- section-7 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */