@font-face {
  font-family: 'FjallaOneRegular';
  src: url("../fonts/FjallaOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.ttf");
  font-style: normal;
  font-weight: 500;
}
html, body {
  font-family: 'Fjalla One', sans-serif;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.header__nav_menu_menu-li a, .submenu-li a, .header__btn a, .general-page__text_btn a, .general-page__container_buttons-vertical a, .text-page__more-info a {
  color: #000;
  text-decoration: none;
}
.header__nav_menu_menu-li a:hover, .submenu-li a:hover, .header__btn a:hover, .general-page__text_btn a:hover, .general-page__container_buttons-vertical a:hover, .text-page__more-info a:hover {
  color: #000;
  text-decoration: none;
}

.general-page__text_main, .text-page__subtitle, .text-page__info-text {
  font-family: 'GothamProRegular';
  font-size: 17px;
  color: #000;
  margin-bottom: 0;
  line-height: 26px;
}

span {
  font-size: 30px;
  font-style: italic;
  color: #FFFFFF;
}

.general-page__text_topic {
  font-family: 'FjallaOneRegular';
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 90px;
  color: #000;
  margin: 0;
}

.text-page__topic {
  font-family: 'FjallaOneRegular';
  font-size: 41px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
}

.header__btn .header__btn_buttons, .general-page__text_btn_buttons-left, .general-page__text_btn_buttons-right, .general-page__container_buttons-vertical {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 30px;
  background-color: #0070ed;
  margin-bottom: 0;
}

.header__nav_menu ul:after, .submenu ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.header-top__container {
  padding-top: 35px;
  padding-bottom: 40px;
}

.header {
  background-color: #FFFFFF;
}

.header__nav_menu {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'GothamProMedium';
  font-size: 15px;
  color: #000;
  line-height: 15px;
}

.header__nav_menu_menu-li {
  position: relative;
}

.header__nav_menu_menu-li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 15px;
  padding-left: 0;
  background-color: white;
  text-align: center;
}

.submenu-li {
  display: block;
  border-bottom: 1px solid #dedddd;
}

.submenu-a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #FFFFFF;
  text-decoration: none;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice {
  display: block;
}

/* ...byrger start ....................................... */
.menu {
  text-align: right;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #223569;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.gambyrger-menu__list {
  display: inline-block;
  color: #0070ed;
  padding: 0 10px;
  text-decoration: none;
}

.gambyrger-menu__list:hover {
  text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .gambyrger-menu {
  display: block;
}

/* ... byrger final ....................................... */
@media (min-width: 768px) and (max-width: 991px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .gambyrger-menu__list {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
.section-1 {
  background-image: url("../img/fon-section-1.png");
  background-size: cover;
}

.general-page__container {
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 205px;
  padding-bottom: 10px;
  position: relative;
}

.general-page__text_main {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 65px;
  font-weight: 600;
}
.general-page__text_topic {
  font-weight: 300;
  padding-bottom: 20px;
}

.general-page__text_btn {
  padding-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.general-page__text_btn a:hover {
  color: #FFFFFF;
  background-color: #0070ed;
  text-decoration: none;
}
.general-page__text_btn_buttons-left {
  background-color: #FFFFFF;
  margin-left: 15px;
}
.general-page__text_btn_buttons-right {
  background-color: #FFFFFF;
  margin-right: 15px;
}

/* button vertical right*/
.general-page__container_buttons-vertical {
  position: absolute;
  right: -65px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #FFFFFF;
  background-color: #0070ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.general-page__container_buttons-vertical:hover {
  color: #FFFFFF;
  background-color: rgba(0, 112, 237, 0.6);
  text-decoration: none;
}
.general-page__container_buttons-vertical .icon-forma {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* scroll mouse */
#mice {
  margin: 0 auto;
  padding-bottom: 8em;
  padding-top: 5.5em;
  text-align: center;
  width: 20px;
  height: 9px;
}

#mice span {
  display: block;
  width: 9px;
  height: 9px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 5px 0 3px 6px;
}

.unu {
  margin-top: 6px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse {
  height: 30px;
  width: 22px;
  border-radius: 10px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #000;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 7px auto;
  background: #000;
  position: relative;
}

/* ------------ media query --------------- */
@media (min-width: 1200px) {
  .general-page__text_btn_buttons-left {
    width: 19%;
  }
  .general-page__text_btn_buttons-right {
    width: 19%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .general-page__text_main {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 65px;
  }
  .general-page__text_topic {
    font-size: 50px;
    line-height: 65px;
  }

  .general-page__container {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 95px;
  }

  .general-page__text_btn {
    padding-bottom: 30px;
  }
  .general-page__text_btn_buttons-left {
    width: 25%;
  }
  .general-page__text_btn_buttons-right {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .general-page__text_main {
    padding-left: 82px;
    padding-right: 82px;
    padding-bottom: 52px;
  }
  .general-page__text_topic {
    font-size: 42px;
    line-height: 64px;
  }

  .general-page__container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .general-page__text_btn {
    padding-bottom: 10px;
  }
  .general-page__text_btn_buttons-left {
    width: 32%;
  }
  .general-page__text_btn_buttons-right {
    width: 32%;
  }
}
.section-2 {
  background-image: url("../img/fon-section-2.png");
  background-size: cover;
}

.page-one__container {
  margin: 0 auto;
  padding-top: 102px;
}

.text-page__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #c2cad6;
  padding-top: 35px;
  padding-bottom: 35px;
}

.text-page__topic {
  padding-bottom: 60px;
}

.text-page__info-text {
  font-size: 16px;
  padding-bottom: 100px;
}

.text-page__more-info {
  display: block;
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0070ed;
}
.text-page__more-info a:hover {
  color: #223569;
  text-decoration: none;
}

.text-pag__more-info_arrow {
  padding-left: 8px;
}

/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- section-5 -------- */
/* -------- section-6 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */