@font-face {
  font-family: 'FjallaOneRegular';
  src: url("../fonts/FjallaOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url("../fonts/PlayfairDisplay-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
html, body {
  font-family: 'Fjalla One', sans-serif;
}

.rooted .general-page__buttons-vertical {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  padding: 3px 25px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000;
  background-color: #0070ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 25px;
  border-radius: 2px;
}
.rooted .general-page__buttons-vertical:hover {
  color: #FFFFFF;
  background-color: rgba(0, 112, 237, 0.6);
  text-decoration: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.rooted .general-page__buttons-vertical a, .more-info a, .header__nav_menu_menu-li a, .submenu-li a, .header__btn .header__btn_buttons a, .general-page__text_btns_vip a, .provide-one__text-suggesttion_read-more a, .list-tech__product:hover .visitka a, .list-tech__product_forma a, .visitka__work_link a, .foto-team__links_we a, .information__e-mail_lok a, .information__webs_communications_icon-link a, .text-page__more-info a, .submit-button a {
  color: #000;
  text-decoration: none;
}
.rooted .general-page__buttons-vertical a:visited, .more-info a:visited, .header__nav_menu_menu-li a:visited, .submenu-li a:visited, .header__btn .header__btn_buttons a:visited, .general-page__text_btns_vip a:visited, .provide-one__text-suggesttion_read-more a:visited, .list-tech__product:hover .visitka a:visited, .list-tech__product_forma a:visited, .visitka__work_link a:visited, .foto-team__links_we a:visited, .information__e-mail_lok a:visited, .information__webs_communications_icon-link a:visited, .text-page__more-info a:visited, .submit-button a:visited {
  color: #0049d7;
  text-decoration: none;
}
.rooted .general-page__buttons-vertical a:hover, .more-info a:hover, .header__nav_menu_menu-li a:hover, .submenu-li a:hover, .header__btn .header__btn_buttons a:hover, .general-page__text_btns_vip a:hover, .provide-one__text-suggesttion_read-more a:hover, .list-tech__product:hover .visitka a:hover, .list-tech__product_forma a:hover, .visitka__work_link a:hover, .foto-team__links_we a:hover, .information__e-mail_lok a:hover, .information__webs_communications_icon-link a:hover, .text-page__more-info a:hover, .submit-button a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.text-page__subtitle, .text-page__info-text, .general-page__text_main, ._team-text, .provide-one__text-suggesttion_second, .manager__text-solutions, .manager__name-marcos, .manager__profaition, .forms-contacts, .sixth__text-rows_text-link {
  font-family: 'GothamProRegular';
  font-size: 17px;
  color: #000;
  margin-bottom: 0;
  line-height: 26px;
}

.forms-contacts_address_it {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
}

.general-page__text_topic {
  font-family: 'FjallaOneRegular';
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 90px;
  color: #000;
  margin: 0;
}

.text-page__topic, ._team-number {
  font-family: 'FjallaOneRegular';
  font-size: 41px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 6px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
}

.provide-one__text-suggesttion_names {
  font-family: 'FjallaOneRegular';
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
}

.header__btn .header__btn_buttons, .general-page__text_btns_vip, .list-tech__product_forma, .submit-button {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  padding: 12px 30px;
  background-color: #0070ed;
  border-radius: 3px;
  margin-bottom: 0;
}

.form-control {
  color: #bac3cd;
}

.header__nav_menu ul:after, .submenu ul:after, .visitka ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.text-page__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #c2cad6;
  padding-top: 35px;
  padding-bottom: 35px;
}
.text-page__topic {
  padding-left: 0;
  padding-bottom: 60px;
}
.text-page__info-text {
  font-size: 16px;
  padding-bottom: 57px;
  clear: both;
}

.more-info {
  display: block;
  padding-top: 30px;
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0070ed;
}
.more-info:hover {
  color: #223569;
  text-decoration: none;
}

.arrow {
  padding-left: 8px;
}

.header-top__container {
  padding-top: 35px;
  padding-bottom: 40px;
}

.header {
  background-color: #FFFFFF;
}

.header__nav_menu {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'GothamProMedium';
  font-size: 15px;
  color: #000;
  line-height: 15px;
}

.header__nav_menu_menu-li {
  position: relative;
}
.header__nav_menu_menu-li a:hover {
  color: #000;
}

.header__nav_menu_menu-li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 15px;
  padding-left: 0;
  background-color: white;
  text-align: center;
}

.submenu-li {
  display: block;
  border-bottom: 1px solid #dedddd;
}
.submenu-li a:hover {
  color: #000;
}

.submenu-a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #FFFFFF;
  text-decoration: none;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__btn .header__btn_buttons {
  color: #000;
}
.header__btn .header__btn_buttons:hover {
  color: #FFFFFF;
}

.choice {
  display: block;
}

/* ...byrger start ....................................... */
.menu {
  text-align: right;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #223569;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.gambyrger-menu__list {
  display: inline-block;
  color: #0070ed;
  padding: 0 10px;
  text-decoration: none;
}

.gambyrger-menu__list:hover {
  text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .gambyrger-menu {
  display: block;
}

/* ... byrger final ....................................... */
@media (min-width: 768px) and (max-width: 991px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .choice {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .gambyrger-menu__list {
    display: none;
  }

  .menu__icon {
    display: inline-block;
  }

  .gambyrger-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    z-index: 1000;
  }

  .gambyrger-menu__list {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #000;
  }
}
.section-1 {
  background-image: url("../img/fon-section-1.png");
  background-size: cover;
}

.rooted {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  position: fixed;
  right: 0;
  z-index: 5;
  top: 65%;
}
.rooted .general-page__buttons-vertical {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rooted .general-page__buttons-vertical_icon-forma {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 20px;
}

.general-page__container {
  margin: 0 auto;
}

.general-page__text {
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 205px;
  padding-bottom: 10px;
}
.general-page__text_main {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 65px;
  font-weight: 600;
}
.general-page__text_topic {
  font-weight: 300;
  padding-bottom: 20px;
}

.general-page__text_btns {
  padding-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.general-page__text_btns_vip {
  background-color: #FFFFFF;
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px 53px;
}
.general-page__text_btns_vip:hover {
  color: #FFFFFF;
  background-color: #0070ed;
  text-decoration: none;
}
.general-page__text_btns .leftb {
  padding: 12px 36px;
}

/* button vertical right*/
/* .general-page__container_buttons-vertical {
  position: fixed;
  right: 0;
  width: 13%;
  top: 50%;
  z-index: 5;
  transform: rotate(-90deg);
  border-radius: 3px;
  @extend %for-a;
  font:{
    family: 'FjallaOneRegular';
    size: 16px;
  }
  text-transform: uppercase;
  color: $white;
  background-color: $activ-botton;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    color: $white;
    background-color: $activ-botton-opacity;
    text-decoration: none;
  }
  .icon-forma {
    transform: rotate(90deg);
  }
} */
/* scroll mouse */
#mice {
  margin: 0 auto;
  padding-bottom: 8em;
  padding-top: 5.5em;
  text-align: center;
  width: 20px;
  height: 9px;
}

#mice span {
  display: block;
  width: 9px;
  height: 9px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 5px 0 3px 6px;
}

.unu {
  margin-top: 6px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse {
  height: 30px;
  width: 22px;
  border-radius: 10px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #000;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 7px auto;
  background: #000;
  position: relative;
}

/* ------------ media query --------------- */
@media (min-width: 1200px) {
  .general-page__text_btn_buttons-left {
    width: 19%;
  }
  .general-page__text_btn_buttons-right {
    width: 19%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .general-page__text_main {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 65px;
  }
  .general-page__text_topic {
    font-size: 50px;
    line-height: 65px;
  }

  .general-page__container {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 95px;
  }

  .general-page__text_btn {
    padding-bottom: 30px;
  }
  .general-page__text_btn_buttons-left {
    width: 25%;
  }
  .general-page__text_btn_buttons-right {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .general-page__text_main {
    padding-left: 82px;
    padding-right: 82px;
    padding-bottom: 52px;
  }
  .general-page__text_topic {
    font-size: 42px;
    line-height: 64px;
  }

  .general-page__container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .general-page__text_btn {
    padding-bottom: 10px;
  }
  .general-page__text_btn_buttons-left {
    width: 32%;
  }
  .general-page__text_btn_buttons-right {
    width: 32%;
  }
}
.section-2 {
  background-image: url("../img/fon-section-2.2.png");
  background-size: cover;
}

.page-one__container {
  margin: 0 auto;
  padding-top: 102px;
}

.container__company-visiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 72px;
}
.text-page__info-text {
  padding-bottom: 100px;
}

.team-office__foto-bottom {
  padding-top: 245px;
  position: relative;
  right: 0;
  top: -80px;
}

.team-office__foto-top {
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: 1;
}

.team-office__summation {
  position: absolute;
  bottom: 60px;
  left: 28px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-office__summation_team {
  background-color: #FFFFFF;
  margin-right: 10px;
  padding: 30px 20px 20px 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

._team-number {
  font-size: 55px;
  font-family: 'GothamProRegular';
  line-height: 55px;
}

._team-text {
  font-size: 13px;
  line-height: 15px;
}

/* ------------ media query --------------- */
.text-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 40px;
}

.provide-one {
  display: inline-block;
}
.provide-one__text-suggesttion {
  padding-top: 30px;
  padding-bottom: 100px;
}
.provide-one__text-suggesttion_fotos {
  padding-bottom: 40px;
}
.provide-one__text-suggesttion_names {
  padding-bottom: 25px;
}
.provide-one__text-suggesttion_second {
  font-size: 15px;
  color: #95a3b8;
  padding-right: 30px;
  padding-bottom: 30px;
}
.provide-one__text-suggesttion_read-more {
  font-family: 'FjallaOneRegular';
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.provide-one__text-suggesttion_read-more:hover {
  color: #0070ed;
  text-decoration: none;
  cursor: pointer;
}

.slem {
  padding-top: 16px;
}

.spec {
  padding-bottom: 63px;
}

.section-4 {
  padding-top: 155px;
  padding-bottom: 300px;
}

.text-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.list-tech {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
.list-tech__product:hover .visitka {
  display: block;
  color: #000;
}
.list-tech__product:hover .visitka a:hover {
  color: #0049d7;
}
.list-tech__product_forma {
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  background: #FFFFFF;
  padding: 25px 50px;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(163, 174, 186, 0.2);
          box-shadow: 0px 15px 35px 0px rgba(163, 174, 186, 0.2);
  color: #000;
}
.list-tech__product_forma:hover {
  color: #FFFFFF;
  background: #0070ed;
  text-decoration: none;
}

.visitka {
  display: none;
  position: absolute;
  top: 40px;
  padding-left: 0;
  text-align: center;
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
}
.visitka a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
.visitka__work {
  display: block;
  width: 190px;
  text-align: center;
  background: none;
  border: none;
}
.visitka__work_link {
  display: block;
  padding: 10px;
  color: #dedddd;
  text-decoration: none;
}

.section-5 {
  background-image: url("../img/fon-section-5.png");
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 80px;
}

.manager {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 70px;
  border-radius: 5px;
}
.manager__fotos-door {
  padding-bottom: 63px;
}
.manager__fotos-door_man {
  padding-left: 75px;
  padding-right: 75px;
}
.manager__text-solutions {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 63px;
}
.manager__text-solutions_bolds {
  font-weight: 700;
}
.manager__name-marcos {
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
  padding-top: 70px;
}
.manager__profaition {
  font-family: 'GothamProMedium';
  font-size: 16px;
  font-weight: 500;
  color: #c7d7ea;
}

.carousels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 82px;
  padding-bottom: 87px;
}
.carousels__as {
  cursor: pointer;
  height: 16px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #0049d7;
}
.carousels__as_he {
  cursor: pointer;
  padding-right: 8px;
  padding-left: 8px;
  height: 16px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #FFFFFF;
}

.section-6 {
  padding-top: 145px;
  padding-bottom: 150px;
}

.text-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 33px;
}
.text-page__info-text {
  padding-left: 0;
}

.foto-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 100px;
}
.foto-team__links {
  list-style: none;
}
.foto-team__links_we {
  padding-right: 20px;
}

.information {
  display: none;
  padding-top: 20px;
  padding-bottom: 35px;
  list-style: none;
  padding-left: 12px;
  margin-bottom: 0;
  font-family: 'GothamProMedium';
  font-size: 15px;
  font-weight: 500;
}
.information__names {
  font-size: 19px;
  padding-bottom: 5px;
}
.information__jobs {
  color: #b2b9c5;
  padding-bottom: 20px;
}
.information__e-mail_lok {
  color: #0070ed;
  text-decoration: underline;
}
.information__e-mail_lok:hover {
  color: #c7d7ea;
  text-decoration: none;
}
.information__webs_communications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
.information__webs_communications_icon-link {
  width: 24px;
  display: block;
  height: 24px;
  border-radius: 12px;
  background-color: #FFFFFF;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}
.information__webs_communications_icon-link a:hover {
  color: #223569;
}

.foto-team__links:hover .information {
  display: block;
}

.text-page__more-info {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0070ed;
}
.text-page__more-info:hover {
  color: #223569;
  text-decoration: none;
}

.text-page__more-info_arrow {
  padding-left: 8px;
}

.section-7 {
  background-image: url("../img/fon-section-7.png");
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 107px;
}

.write {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 58px;
  padding-bottom: 30px;
}
.write__forms {
  padding-left: 10px;
}

.text-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.text-page__topic {
  padding-bottom: 20px;
}
.text-page__info-text {
  color: #727272;
  padding-right: 44px;
  padding-left: 0;
}

.form-group-input {
  border: none;
}

.form-control {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
  background-color: rgba(236, 238, 240, 0);
  border: 1px solid rgba(236, 238, 240, 0);
  border-bottom: 1px solid #bac3cd;
  border-radius: 0;
  resize: none;
  overflow-x: hidden;
  margin-bottom: 38px;
}

.form-control::-webkit-input-placeholder {
  color: #bac3cd;
  text-transform: uppercase;
}

.nf {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  text-transform: none;
}

.mes {
  margin-bottom: 75px;
}

.colors {
  color: #bac3cd;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.cf {
  border-bottom: 1px solid #000;
}

.submit-button {
  border: none;
}
.submit-button:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.forms-contacts {
  font-size: 16px;
  line-height: 20px;
  padding-top: 80px;
  padding-left: 45px;
}
.forms-contacts .text-page__topic {
  padding-bottom: 0;
}
.forms-contacts_address {
  font-size: 18px;
  font-weight: 500;
}
.forms-contacts_address_medium-plus {
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 5px;
}
.forms-contacts_adds_mail {
  color: #0070ed;
  text-decoration: underline;
}
.forms-contacts_adds_mail:hover {
  color: #c7d7ea;
  text-decoration: none;
}
.forms-contacts_adds {
  margin-bottom: 5px;
}
.forms-contacts_adds_ph {
  padding-bottom: 25px;
}

.footer {
  background-color: #151c26;
  font-size: 25px;
}

.sixth__webs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.sixth__webs_icon-link {
  padding-right: 5px;
  padding-left: 5px;
  color: #FFFFFF;
}
.sixth__text-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
}
.sixth__text-rows_text-link {
  font-family: 'GothamProMedium';
  font-size: 14px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .sixth__text-rows_text-link {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .sixth__text-rows_text-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 414px) {
  .sixth__text-rows_text-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.sixth__text-rows_text-link:hover {
  text-decoration: none;
}
.sixth__copies {
  padding-bottom: 70px;
}
.sixth__copies_copy-text {
  font-family: 'FjallaOneRegular';
  font-size: 14px;
  color: #374152;
}
.sixth__copies_copy-line {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background-color: #374152;
}

.fab {
  vertical-align: center;
}

.circle {
  display: table-cell;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #374152;
}

/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- section-5 -------- */
/* -------- section-6 -------- */
/* -------- section-7 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */